@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    scroll-behavior: smooth;
}

/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #e2e8f0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* 
.swiper-wrapper
{
    transition-timing-function: linear !important;
} */

.swiper
{
    animation: slidesUp 1.75s;
}

header
{
    animation: slidesDown 1.75s;
}

@keyframes slidesDown
{
    from
    {
        opacity: 0;
        transform: translateY(-50px);
    }

    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slidesUp
{
    from
    {
        opacity: 0;
        transform: translateY(50px);
    }

    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}